# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GIT\EA_TSP_Individual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
